<!-- HTML Template -->

<div class="page">

  <header class="navbar navbar-inner navbar-fixed-top">
    <div class="nav pull-left">
      <% if (titleBar.backButton.title.length > 0) {%>
        <a href="<%= titleBar.backButton.href %>" class="btn" type="submit"><%= titleBar.backButton.title %></a>
      <% } %>
    </div>
    <div>
      <a class="brand"><%= titleBar.title %></a >
     </div>
    <div class="nav pull-right">
      <% console.log(titleBar.actionButton.title.length) %>
      <% if (titleBar.actionButton.title.length > 0) {%>
      <a href="<%= titleBar.actionButton.href %>" class="btn" type="submit"><%= titleBar.actionButton.title %></a>
      <% } %>
    </div>
  </header> <!-- /header -->

  <div class="container-fluid">

    <div class="row-fluid">
    
      <div class="span12">

        <div class="content">
          <%= content %>
        </div>
      
      </div>

    </div>

  </div>

  <footer class="footer navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <p>Written by <a href="https://github.com/gfranko" target="_blank">Constantin Lebrecht</a></p>
      </div>
  </footer><!-- /footer -->

</div> <!-- /page -->

