<!-- HTML Template -->

<div class="page">

  <header class="navbar navbar-inner navbar-fixed-top">
    <a class="brand">Backbone-Require-Boilerplate (BRB)</a >
    
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><button class="btn" type="submit">Button</button></li>
    </ul>
  </header> <!-- /header -->

  <div class="container-fluid">

    <div class="row-fluid">
    
      <div class="span12">

        <div class="page"></div>
    
      </div>

    </div>

  </div>

  <footer class="footer navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <p>Written by <a href="https://github.com/gfranko" target="_blank">Greg Franko</a></p>
      </div>
  </footer><!-- /footer -->

</div> <!-- /page -->

